
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a0d5c;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;   
  height: 500px;
  background: url("images/Photoroom_20260501_120323.png") no-repeat;
  background-size: contain;
  pointer-events: none;
  opacity: 0.9;
}


#wrapper {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.nav {
  margin-bottom: 25px;
}
.nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.1rem;
  position: relative;
  transition: 0.25s ease;
}

.nav a:hover {
  transform: translateY(-2px);
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s;
}
.nav a:hover::after {
  width: 100%;
}

.manga-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  padding: 20px;
  justify-items: center;
}

.manga-row img {
  width: 100%;
  max-width: 230px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.manga-row img:hover {
  transform: scale(1.05);
}

.manga-row img:hover {
  filter: brightness(0.9);
}


h1, h2 {
  color: #c77dff;
  text-shadow: 0 0 10px #7b2cbf;
}

.contact-container {
  margin-top: 40px;
}
.contact-card {
  background: rgba(20, 0, 40, 0.8);
  border: 2px solid #7b2cbf;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  margin: auto;
  box-shadow: 0 0 20px #7b2cbf;
  transition: 0.3s;
}

.contact-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #c77dff;
}

a {
  color: #c77dff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #c77dff;
}

 h2 {
  display: grid;
  place-items: center;
  margin: 20px 0;
}

h1 {
  font-family: 'Permanent Marker';
  font-size: 3.5rem;
  text-align: center;
  color: #c084fc;
  -webkit-text-stroke: 2px black;
  letter-spacing: 2px;
  text-shadow:
    0 0 5px #c084fc,
    0 0 15px #9333ea,
    0 0 30px #6b21a8;
  animation: flicker 1.5s infinite;
}



.gif-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.gif-container img {
  border-radius: 12px;
  box-shadow: 0 0 20px #7b2cbf;
  transition: 0.3s;
}
.gif-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #c77dff;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    width: 600px;      
    height: 350px;
    object-fit: cover; 
}

.video video :hover{
transform: scale(1.05);
}
